# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies
node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.apk
*.aab
*.ipa
.pub-cache/
.pub/

# Android
**/android/.gradle
**/android/local.properties
**/android/**/build/
**/android/app/build/
*.keystore
*.jks

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/

# Uploads & Temp
uploads/*
!uploads/.gitkeep
tmp/
temp/
